.App {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 200;
}

body {
  background-image: url(https://images.hdqwalls.com/download/colorful-sunset-sky-5k-5u-1440x900.jpg);
}
.weather-app {
  box-shadow: 1px 2px 15px #fa709a;
  border-radius: 20px;
  max-width: 720px;
  background: linear-gradient(
    105.4deg,
    rgb(216, 176, 216) 23.9%,
    rgb(53, 169, 215) 86.5%
  );

  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px 10px;
  font-family: "Quicksand" Arial, sans-serif;
}

.main-icon {
  font-size: 140px;
  line-height: 1;
  position: relative;
  top: 15px;
  left: 10px;
}

.weather-icon-forecast {
  display: block;
  font-size: 35px;
  margin: 0 auto;
  line-height: 1;
}
#small-icons {
  border: 1px #fa709a;
  box-shadow: 1px 2px 7px #fa709a;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px 5px;
  text-align: center;
  color: aliceblue;
  width: 105px;
}
