.github-link {
  color: #5a6275;
  text-decoration: none;
  color: #fa709a;
}
footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #666b75;
  font-size: 16px;
  opacity: 0.8;
}
