.Temp .temp {
  font-size: 80px;
  font-family: "Raleway", sans-serif;
  line-height: 75px;
  color: aliceblue;
  font-weight: 300;
  text-align: left;
}
.Temp .description {
  font-size: 20px;
  font-weight: 400;
  color: #5a6275;
}
.conditions {
  list-style: none;
  padding: 0;
  line-height: 1.5;
  color: aliceblue;
  position: relative;
  bottom: 30px;
}

span.degrees {
  text-decoration: none;
  font-size: 25px;
  position: relative;
  bottom: 75px;
  left: 87px;
  color: aliceblue;
  font-weight: 300;
}
.City {
  font-size: 40px;
  line-height: 50px;
  color: aliceblue;
}
